/* 
    Document   : estilos
    Created on : 26-jun-2013, 23:37:26
    Author     : alvaroMC
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.alinizq {
    text-align: left;
}

.alinder {
    text-align: right;
}

.alinder-bold {
    text-align: right;
    font-weight: bold;
}

.normal {
    font-size: .1em;
}
.centrado {
    margin-left: auto;
    margin-right: auto;
}

.centrado-texto {
    text-align: center;
}

